body{
    font-family: 'Poppins', sans-serif;
}
#first-border{
    font-size: 65px;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-left: 5px solid ;
    border-image:linear-gradient(red, tomato ) ;
    border-image-slice: 1;
    margin-bottom: 10px;
}
.orange-color{
    color: orange;
}

.initial-part{
    display: flex;
    margin: 100px;



}
.half-width{
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    
}
.first-pic{
    height: 400px;
    width: 400px;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
    margin-right: 250px;
}
.button-link{
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(red, tomato);
    padding: 10px 20px;
    font-weight: 500;
}
#first-lorem{
    font-size: 18px;
    margin-bottom: 30px;
}
    
#scroll{
    margin-top: 100px;
    color: lawngreen;
}

.mission-item{
    width: 300px;
    height: 500px;
    margin-left: 60px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#mission{
    background-color: bisque;
}
#vision{
    background-color: aquamarine;

}
#goals{
    background-color: rgb(171, 231, 69);
}
.illustrators{
    height: 45%;
    width: 70%;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}
.background-pic{
    margin-left: 60px;
    display: flex;
    width: 90%;
    height: 60%;
    
    
    
}
.limits{
    margin-left: 70px;
    margin-top: 10px;
    
}
#heading3{
    font-weight: 900;
    font-size: 12mm;
    margin-bottom: 10px;
    padding-left: 10px;
    background-image: url(images/shapes/shape-4.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
    
}
#bgm{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center left;
}
#third-lorem{
    margin-left: 60px;
    font-size: 18px;
    margin-bottom: 30px;
    padding-right: 180px;
}
#heading4{
    font-weight: 900;
    font-size: 12mm;
    margin-bottom: 10px;
    padding-left: 10px;
    background-image: url(images/shapes/shape-5.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
}
#third-pic{
    height: 4in;
    width: 400px;
    display: flex;
    padding-right: 230px;
    padding-bottom: 70px;
    
}
#bgm2{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: bottom right;
}
#fourth-pic{
    height: 5.5in;
    width: 5in;
    display: flex;
    padding-left: 2.8in;
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: top;
}

#heading5{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    
}
#fourth-lorem{
    font-size: 18px;
    margin-left: 10%;
    margin-top: 5%;
}
footer {
    background-color: black;
    text-align: center;
    color: white;

}
footer h1{
    font-family: cursive;
}